.navbar {
  background: #000000; /* Black background */
  width: 83px; /* Adjusted width */
  height: 100vh; /* Full height */
  border-radius: 50px; /* Rounded corners */
  padding: 20px 0; /* Padding at top and bottom */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: start; /* Align items to start vertically */
  position: fixed; /* Fixed position to stay in view */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  overflow: hidden; /* Hide overflow */
  z-index: 100; /* High z-index to stay above other content */
}


.navbar .logo {
  margin-bottom: 30px; /* Space below the logo */
}

.navbar-item {
  background: rgba(255, 255, 255, 0.2); /* Slightly transparent background */
  border-radius: 50%; /* Circular items */
  width: 45px; /* Width of items */
  height: 45px; /* Height of items */
  margin: 10px 0; /* Space between items */
  display: flex;
  align-items: center;
  justify-content: center; /* Center content */
  cursor: pointer;
  position: relative; /* Position relative for absolute positioning of child elements */
}

.navbar-item img {
  width: 30px; /* Width of icons */
  height: auto; /* Maintain aspect ratio */
  /* Adjust the following margin if you need more space between the icon and the text */
  margin-right: 0px; /* Space between the icon and the text */
}

.Support-text span {
  color: white;
  font-size: 12px;
  position: absolute; /* Absolute position to break out of flexbox layout */
  left: 100%; /* Position to the right of the icon */
  white-space: nowrap; /* Ensure the text doesn't wrap */
  margin-left: 8px; /* Space between the icon and the text */
  display: block; /* Make span take up the full width */
}

/* Adjustments for hover effects */
.navbar-item:hover {
  background: rgba(255, 255, 255, 0.3); /* Darker on hover */
}

/* Add a focus style for accessibility */
.navbar-item:focus {
  outline: 2px solid white;
}
