.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 83px;
    background-color: #000000;
    padding: 20px 0;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  