.Tools {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px; /* Spacing between sections */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tools-cards {
    display: flex;
    gap: 15px; /* Space between cards */
  }
  
  .tool-card {
    flex-basis: 100%; /* Adjust width to fit content */
    padding: 15px;
    background-color: #f9f9f9; /* Slightly off-white background */
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  