.App {
  display: flex;
  font-family: 'Arial', sans-serif;
  background-color: black;
  min-height: 100vh; /* Ensure full vertical height */
}

.app h1{
  margin-left: 140px;
  margin-top: 30px;
  color:White;
  font-size: 40px;
}

.app{
  background-color: black;
  border-image: linear-gradient(
    129.73deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 83px; /* Same as the sidebar width */
  background-color: #0000002E; /* Semi-transparent black */
  /* If you want padding-top to be the same as the sidebar's padding */
  padding-top: 20px;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Enable vertical scroll if content is taller than the screen */
}
